In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle

# acquire data 
df = wrangle.get_zillow_data()

In [2]:
# Take a look at the data

df.head()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,11289917,2061546,1.0,NaN,NaN,2.0,3.0,None,6.0,2.0,...,136104.0,2016.0,27214.0,2319.90,Y,15.0,6.037901e+13,1248,-0.362001,2017-06-23
1,11705026,1834372,NaN,NaN,NaN,1.0,2.0,None,6.0,1.0,...,35606.0,2016.0,23624.0,543.69,None,NaN,6.037232e+13,1772,-0.146056,2017-06-30
2,14269464,1923117,NaN,NaN,NaN,3.0,4.0,None,NaN,3.0,...,880456.0,2016.0,445569.0,9819.72,None,NaN,6.059064e+13,2028,0.021085,2017-06-01
3,11389003,2121349,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,...,614000.0,2016.0,449000.0,7673.19,None,NaN,6.037703e+13,3273,-0.325393,2017-06-01
4,11967869,2093710,NaN,NaN,NaN,1.0,2.0,None,5.0,1.0,...,274237.0,2016.0,191821.0,3267.47,None,NaN,6.037185e+13,3429,-0.005566,2017-06-29

In [3]:
# Looking at the columns with more detail

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 62 columns):
parcelid                        5000 non-null int64
id                              5000 non-null int64
airconditioningtypeid           1335 non-null float64
architecturalstyletypeid        7 non-null float64
basementsqft                    4 non-null float64
bathroomcnt                     5000 non-null float64
bedroomcnt                      5000 non-null float64
buildingclasstypeid             0 non-null object
buildingqualitytypeid           3192 non-null float64
calculatedbathnbr               4984 non-null float64
decktypeid                      39 non-null float64
finishedfloor1squarefeet        393 non-null float64
calculatedfinishedsquarefeet    4994 non-null float64
finishedsquarefeet12            4979 non-null float64
finishedsquarefeet13            0 non-null object
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            393 non-null float64
finishedsquarefeet6             15 non-null float64
fips                            5000 non-null float64
fireplacecnt                    702 non-null float64
fullbathcnt                     4984 non-null float64
garagecarcnt                    1733 non-null float64
garagetotalsqft                 1733 non-null float64
hashottuborspa                  162 non-null float64
heatingorsystemtypeid           3213 non-null float64
latitude                        5000 non-null float64
longitude                       5000 non-null float64
lotsizesquarefeet               4972 non-null float64
poolcnt                         1087 non-null float64
poolsizesum                     76 non-null float64
pooltypeid10                    49 non-null float64
pooltypeid2                     113 non-null float64
pooltypeid7                     973 non-null float64
propertycountylandusecode       5000 non-null object
propertylandusetypeid           5000 non-null float64
propertyzoningdesc              3199 non-null object
rawcensustractandblock          5000 non-null float64
regionidcity                    4899 non-null float64
regionidcounty                  5000 non-null float64
regionidneighborhood            1806 non-null float64
regionidzip                     4997 non-null float64
roomcnt                         5000 non-null float64
storytypeid                     4 non-null float64
threequarterbathnbr             663 non-null float64
typeconstructiontypeid          7 non-null float64
unitcnt                         3196 non-null float64
yardbuildingsqft17              179 non-null float64
yardbuildingsqft26              5 non-null float64
yearbuilt                       4988 non-null float64
numberofstories                 1370 non-null float64
fireplaceflag                   5 non-null float64
structuretaxvaluedollarcnt      4993 non-null float64
taxvaluedollarcnt               5000 non-null float64
assessmentyear                  5000 non-null float64
landtaxvaluedollarcnt           5000 non-null float64
taxamount                       5000 non-null float64
taxdelinquencyflag              179 non-null object
taxdelinquencyyear              179 non-null float64
censustractandblock             4989 non-null float64
id                              5000 non-null int64
logerror                        5000 non-null float64
transactiondate                 5000 non-null object
dtypes: float64(52), int64(3), object(7)
memory usage: 2.4+ MB

In [4]:
# df = df.rename(columns={"bedroomcnt": "bedrooms", "bathroomcnt": "bathrooms", "calculatedfinishedsquarefeet": "square_feet", 
#                        "taxamount": "taxes", "regionidzip": "zip_code", "taxvaluedollarcnt": "tax_value", 
#                        "yearbuilt": "year_built", "regionidcounty": "county"})

In [5]:
wrangle.clean_zillow(df)

Empty DataFrame
Columns: [id, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathrooms, bedrooms, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, square_feet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, county, regionidneighborhood, zip_code, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, year_built, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, tax_value, assessmentyear, landtaxvaluedollarcnt, taxes, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, id, logerror, transactiondate]
Index: []

[0 rows x 61 columns]

In [ ]:
df.info()

In [ ]:

features = [
    "bedrooms",
    "bathrooms",
    "fips",
    "square_feet",
    "tax_value",
    "zip_code",
    "latitude",
    "longitude",
    "county"
]

df = df[features]
df.head()

In [ ]:
df.corr()

In [ ]:
for col in df.columns:
    print(col, len(df[col].unique()), df[col].unique())

In [ ]:
def plot_variable_pairs():
    g = sns.PairGrid(df)
    g.map_diag(plt.hist)
    g.map_offdiag(sns.regplot)
    return g

plot_variable_pairs()

In [ ]:
sns.pairplot(df)

In [ ]:
sns.regplot(x="square_feet", y="tax_value", data=df)

In [ ]:
sns.regplot(x="bathrooms", y="tax_value", data=df)

In [ ]:
plt.figure(figsize=(10,8))
sns.heatmap(df.corr(), cmap='Blues', annot=True)
plt.ylim(0, 9)

In [ ]:
with sns.axes_style('white'):
    j = sns.jointplot("latitude", "tax_value", data=df, kind='reg', height=7);
plt.show()

In [ ]:
# Construct a figure with subplots of histograms of features

# sets size, can adjust to liking
plt.subplots(figsize=(25, 15))

plt.subplot(221)
sns.boxplot(df.square_feet)

plt.subplot(222)
sns.boxplot(df.bedrooms)

plt.subplot(223)
sns.boxplot(df.bathrooms)

plt.subplot(224)
sns.boxplot(df.tax_value)